@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');
body{
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #362b18;
}
.site-title{
  color: rgb(159,132,83);
  border-bottom: 4px solid rgb(0, 255, 76)(255, 255, 255); 
  font-size: 30px;
}
.menu-item{
  color: rgb(159,132,83);
  font-size: 20px;
  font-weight: 600;
}
.menu-item:hover{
  color: black;
}
#manage-products-btn{
  border: 2px solid #9f8453;
  padding: 5px;
  font-size: 20px;
  font-weight: 700;
  color: #9f8453;
}
#manage-products-btn:hover{
  cursor: pointer;
  color: black;
}

*, html{
  scroll-behavior: smooth;
}

*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

:root{
  --white:#aaaaaa;
  --black:#232323;
  --lite:rgba(255,255,255,0.6);
  --gray:rgba(1,1,1,0.6);
  --dark:#3c3d3c;
  --primary:linear-gradient(145deg,#9f8453,#362b18);
  --primary_dark:#362b18;
  --primary_lite:#423723;
  --secondary:#000a17;
  --default_font:'Ysabeau Infant', sans-serif;
  --title_font:'Outfit', sans-serif;
}

::-webkit-scrollbar {
  height: 12px;
  width: 8px;
  background: var(--dark);
}

::-webkit-scrollbar-thumb {
  background: gray;
  -webkit-box-shadow: 0px 1px 2px var(--dark);
}

::-webkit-scrollbar-corner {
  background: var(--dark);
}

body{
  margin:0;
  overflow-x:hidden !important;
  font-family: var(--default_font);
}

a{
  text-decoration:none !important;
  min-width: fit-content;
  width: fit-content;
  width: -webkit-fit-content;
  width: -moz-fit-content;
}

a, button{
  transition:0.5s;
}

em{
  font-style:normal;
  color:var(--primary_lite);
}

a, p, .btn{
  font-size:15px;
}

p{
  line-height:1.9em;
  color:var(--lite);
}

a, button, input, textarea, select{
  outline:none !important;
}

fieldset{
  border:0;
}

h1, h2, h3, h4, h5, h6{
  margin:0;
}

.title, .sub_title{
  font-family:var(--title_font);
  font-weight:400;
  margin:0;
}

.flex, .fixed_flex{
  display:flex;
}

.flex_content{
  width:100%;
  position:relative;
}

.padding_1x{
  padding:1rem;
}

.padding_2x{
  padding:2rem;
}

.padding_3x{
  padding:3rem;
}

.padding_4x{
  padding:4rem;
}

.big{
  font-size:3.5em;
}

.medium{
  font-size:2em;
}

.small{
  font-size:1.3em;
}

.btn{
  padding:1rem;
  border-radius:5px;
  color:var(--white);
  position:relative;
  border:0;
  text-align:center;

}

.btn_3{
  display:block;
  background-color:#9f8453;
  color:var(--white);
  position:relative;
  font-family:var(--default_font);
  font-weight:400;
  text-transform:uppercase;
}

.btn_3:before{
  content:"";
  border-radius:50%;
  background-color:rgba(255,255,255,0.2);
  position:absolute;
  left:0;
  top:50%;
  width:40px;
  height:40px;
  transition:0.5s;
  transform:translate(0%, -50%);
}

.btn_3:after{
  content:"\f178";
  font-family:"FontAwesome";
  margin-left:5px;
}

.btn_3:hover:before{
  border-radius:40px;
  width:100%;
}

@media (max-width:920px){
  .flex{
    flex-wrap:wrap;
  }

  .padding_1x, .padding_2x, .padding_3x, .padding_4x{
    padding:1rem;
  }

  .big{
    font-size:1.8em;
  }

  .medium{
    font-size:1.3em;
  }

  .small{
    font-size:1.1em;
  }

  .btn{
    padding:0.5rem 1rem;
  }

  a, p, .btn{
    font-size:12px;
  }
}

.slider {
  position: relative;
  width: 100%;
  height: 100vh;
}

ul{
  padding:0;
  margin:0;
}

.slider .title{
  font-weight:400;
}

.slider li {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  transition: clip .7s ease-in-out, z-index 0s .7s;
  clip: rect(0, 100vw, 100vh, 100vw);
  display:flex;
  align-items:center;
  justify-content:left;
}

.slider li:nth-child(1){
  background:linear-gradient(to right, rgba(1,1,1,1) 10%, rgba(1,1,1,0.8) 51%, rgba(1,1,1,0.2) 100%), url("https://media.gq.com/photos/632b77ef602b93aae4f70bee/16:9/w_1280,c_limit/RO_26579CS-OO-1225CS-01_Assemblage_MDF_2022_03_JPEG.jpeg");
  background-size: cover;
  background-position:top left;
}

.slider li:before{
  content:"";
  position:absolute;
  top:-20px;
  right:0;
  width:250px;
  height:250px;
  background-image:url("");
  background-size:100% 100%;
  transition-delay: 1s;
  transform: rotate(-90deg);
  z-index:1;
}

.slider li:after{
  content:"";
  position:absolute;
  bottom:0;
  left:0;
  width:300px;
  height:300px;
  background-image:url("");
  background-size:100% 100%;
  transform:rotate(360deg);
  transition: all 1.5s cubic-bezier(0,0,.2,1);
  z-index:1;
  background-position:center left;
}

.slider li:nth-child(2){
  background:linear-gradient(to right, rgb(1, 1, 1) 10%, rgba(1,1,1,0.8) 51%, rgba(1,1,1,0.2) 100%), url("https://media.gq-magazin.de/photos/64b513495c95a13af88a0c9b/16:9/w_1920,c_limit/Uhren_A.Lange%20und%20So%CC%88hne.jpeg");
  background-size: cover;
  background-position:top left;
}

.slider li:nth-child(3){
  background:linear-gradient(to right, rgba(1,1,1,1) 10%, rgba(1,1,1,0.8) 51%, rgba(1,1,1,0.2) 100%), url("https://media.gq-magazin.de/photos/635fab38bea4fc4437fc7d32/master/pass/vac-overseas-chrono-5500v-110r-b952-lfst-1.jpg");
  background-size: cover;
  background-position:top left;
}

.slider article{
  width:60%;
  margin-top:4rem;
  color: #aaaaaa;
  z-index:11;
}

.slider h3 + p {
  display: inline-block;
  color: var(--lite);
  font-weight:300;
}

.slider h3, .slider h3 + p, .slider p + .btn, li:after{
  opacity: 0;
  transition: opacity .7s 0s, transform .5s .2s;
  transform: translate3d(0, 50%, 0);
}

li.current h3, li.current h3 + p, li.current p + .btn, li.current:after {
  opacity: 1;
  transition-delay: 1s;
  transform: translate3d(0, 0, 0);
}

.slider li:before{
  transition: 0.5s;
  top:-250px !important;
}

li.current:before{
  transition-delay: 1s;
  transform: rotate(-90deg);
  top:-20px !important;
}

li.current {
  z-index: 1;
  clip: rect(0, 100vw, 100vh, 0);
}

li.prev {
  clip: rect(0, 0, 100vh, 0);
}

.slider aside {
  position: absolute;
  bottom: 2rem;
  left: 2rem;
  text-align: center;
  z-index: 10;
}

.slider aside a {
  display: inline-block;
  width: 8px;
  height: 8px;
  min-width: 8px;
  min-height: 8px;
  background-color: var(--white);
  margin: 0 0.2rem;
  transition: transform .3s;
}

.slider em{
  background: var(--primary);
  -webkit-text-fill-color: transparent;
}

a.current_dot {
  transform: scale(1.4);
  background:var(--primary) !important;
}

@media screen and (max-width: 920px) {
  header{
    height:70vh;
    position:relative;
  }

  .cs-down{
    display:none;
  }

  .slider{
    height:70vh;
  }

  .slider article{
    width:100%;
    margin-top:2rem;
  }

  .slider li:nth-child(2){
    background-position:top center;
  }

  .slider li:nth-child(3){
    background-position:top center;
  }

  li.current:before{
    top:-30px;
    right:-10px;
  }
}

.cart-icon {
  position: relative;
  cursor: pointer;
}

.cart-icon img {
  width: 30px;
}

.cart-icon #cart-count {
  position: absolute;
  top: -10px;
  right: -10px;
  background-color: #362b18;
  color: #9f8453;
  padding: 5px;
  font-size: 12px;
}

.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 20px;
}
.add-to-cart{
  background: #362b18;
  color: white;
  border: 0px;
  padding: 5px;
}
.add-to-cart:hover{
  cursor: pointer;
  background-color: #9f8453;
}
.product {
  border: 1px solid #000000;
  background-color:	#bda476;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  text-align: center;
}

.cart-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
}

.cart {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
}

.cart-items {
  margin-bottom: 20px;
}
.products img{
  width: 200px;
}
/* Updated modal CSS for full-page display */
.modal {
  display: none;
  position: fixed;
  z-index: 999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  background-color: #fefefe;
  margin: 10% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.cart-items div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
}

.cart-items img {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}
/* CSS for styling the form in the modal */
.modal-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#add-product-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#add-product-form label {
  font-weight: bold;
}

#add-product-form input[type="file"],
#add-product-form input[type="text"],
#add-product-form input[type="number"],
#add-product-form input[type="submit"] {
  width: 100%;
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  font-size: 16px;
  outline: none;
  transition: border-color 0.3s ease;
}

#add-product-form input[type="file"]:focus,
#add-product-form input[type="text"]:focus,
#add-product-form input[type="number"]:focus,
#add-product-form input[type="submit"]:focus {
  border-color: dodgerblue;
}

#add-product-form input[type="submit"] {
  background-color: dodgerblue;
  color: #fff;
  cursor: pointer;
}

#add-product-form input[type="submit"]:hover {
  background-color: #0056b3;
}
.about-us{
  height: 90vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
footer{
  background-color: gray;
  color: white;
  font-size: 1rem;
  text-align: center;
}
